extends layout

block content
  h1
    Notevensurewhathtisisbecausejadedocumentationisdown We have new Feature! Add gifs by their url by typing in "gif 'put url here but no quotes'"
  .jumbotron
    form#username-input(action="")
      input.form-control(placeholder="Name")
      button.btn-default(type="submit") Submit 
    script.
      $("#username-input").submit(function(){
        var nameIn = $("input").val();
        $.get("chat", {name: nameIn}, function(data, status){
          $(".jumbotron").html(data)
        });
        return false;
      })
